$green: #46b450;
$red: #dc3232;

.resizefly {
    &-ok {
        color: $green;
    }
    &-error {
        color: $red;
    }
}

#resizefly_purge_cache,
#resizefly_remove_resized {
    & + .spinner {
        float: none;
        margin-left: 10px;
    }
}

@import "licenses", "user-sizes";
