.rzf {
    &-user-sizes {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        &-single {
            float: left;
            width: auto;
            padding-right: 20px;
            height: 50px;
            .label {
                width: 100%;
                display: block;
            }
            [type="checkbox"] {
                margin-top: 6px
            }
            .button-secondary {
                margin-top: 17px;
            }
        }
        &-error {
            margin-bottom: 20px;
            color: rgb(222, 48, 43);
        }
    }
}
